<ion-header>
  <ion-navbar>
    <ion-title>
      appli du turfu
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content padding>
  <!-- The world is your oyster. -->
  <!-- <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p> -->
  
      <!-- <li *ngFor = "let current of fakeResult">{{current.title}}</li>     -->
      
  <ion-list>
      <ion-item *ngIf="!(realResult | async)?.length">Aucun résultat </ion-item>
      <ion-item *ngFor = "let current of realResult | async">
        <ion-thumbnail item-start>
          <img src="'https://image.tmdb.org/t/p/w92/'+current.poster_path">
        </ion-thumbnail>
        <h2>{{current.title}}</h2>
        <p> {{current.release_date}}</p>
        <button ion-button clear item-end (click)="gotoDetail(current);">View</button>
      </ion-item>
  </ion-list>

  

</ion-content>
